body {
  background: linear-gradient(
    112.1deg,
    rgb(32, 38, 57) 11.4%,
    rgb(63, 76, 119) 70.2%
  );
}

h1 {
  text-align: center;
  color: white;
}

footer {
  border-top: 1px solid #f9f7fe;
  text-align: center;
  color: white;
}

.footer-emoji {
  color: initial;
}

a {
  color: whitesmoke;
}
